.container {
padding: 5px;  
width: 560px;
height: 150px;
border: 1px solid black;
border-radius: 1%;
transform:skewX(-25deg);
box-shadow: 1px 2px 2px #888888;
display: flex;
justify-content: space-between;
background: linear-gradient(45deg, #d0dada,  #888888);
}

.wordCountContainer{
  width: 175px;
  height: 145px;
  border: px solid black;
  border-radius: 2%;
  box-shadow: 2px 2px 1px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #CCFFFF, #971797)
}

.flash {
  animation: flashBackground .5s infinite;
}
@keyframes flashBackground{
  0% { background: inherit;}
  100%{background: white;}
}
.wordCountText{
  transform:skewX(25deg);
}

.buttonContainer{
  width: 170px;
  height: 145px;
  border: px solid black;
  box-shadow: 2px 2px 1px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 51, 224);
}

.button {
  width: 70px;
  height: 70px;
  background-color: white;
  border-color:  #f7f5f5;
  border-style: outset;
  border-radius: 100%;
  transform:skewX(25deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:active {
  transform: scale(0.98);
  transform:skewX(25deg);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}